<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="Uniflee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".LogInActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.yourdomain.com"
                    android:pathPrefix="/path" />
            </intent-filter>
        </activity>
        <activity
            android:name=".discharge.DischargeGuideActivity"
            android:exported="false" />
        <activity
            android:name=".store.StorePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".store.StoreCartActivity"
            android:exported="false" />
        <activity
            android:name=".store.StoreProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".discharge.DischargeNewRewardActivity"
            android:exported="false" />
        <activity
            android:name=".discharge.DischargeCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".membership.MembershipBenefitActivity"
            android:exported="false" />
        <activity
            android:name=".membership.MembershipTipsActivity"
            android:exported="false" />
        <activity
            android:name=".membership.MembershipInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>